<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.port.pm.invite.app</package>
    <name>InviteReportRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>cef46274-c4fc-4ec7-8cfd-af4ea076d509</id>
            <parentID />
            <source>Entry3.department=Entry3.invitePerson.curDep.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>8eda8c5d-cf8a-45fb-ad22-fab60ce7e1f0</id>
            <parentID>cef46274-c4fc-4ec7-8cfd-af4ea076d509</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>18bd2caf-39a1-4d62-a863-774fc690406b</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>18bd2caf-39a1-4d62-a863-774fc690406b</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntry3.getCell(rowIndex,"department")</value>
        </simpleExpression>
        <simpleExpression>
            <id>9986cd2b-c57b-45e7-a382-d74e1cc08756</id>
            <parentID>cef46274-c4fc-4ec7-8cfd-af4ea076d509</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>398c983f-1666-4087-ae2c-18f6ecc544b1</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>32df6f37-e65f-41d2-b9ab-46bd257941e5</id>
                        <expressionID>0ad9210d-a65e-4ce5-b143-8f9363635873</expressionID>
                    </parameter>
                    <parameter>
                        <id>167b8fe0-32c4-4edd-829c-a8da67028fea</id>
                        <expressionID>aa639230-b683-4bbe-97d2-69e7d0a9fd6f</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>398c983f-1666-4087-ae2c-18f6ecc544b1</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>0ad9210d-a65e-4ce5-b143-8f9363635873</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>7204f05e-95fc-4ea0-90e0-5eb1f6a95ffb</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>7204f05e-95fc-4ea0-90e0-5eb1f6a95ffb</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntry3.getCell(rowIndex,"invitePerson")</value>
        </simpleExpression>
        <simpleExpression>
            <id>aa639230-b683-4bbe-97d2-69e7d0a9fd6f</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>curDep.name</value>
        </simpleExpression>
        <groupExpression>
            <id>af374f41-3e11-443d-8287-ba4d8fa42ff6</id>
            <parentID />
            <source>Entry3.department=Entry3.invitePerson.curDep.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>c0ba5f46-8479-4711-b512-c032996a508f</id>
            <parentID>af374f41-3e11-443d-8287-ba4d8fa42ff6</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>53cacbff-525f-4649-a166-8a2ac2d7c3e8</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>53cacbff-525f-4649-a166-8a2ac2d7c3e8</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntry3.getCell(rowIndex,"department")</value>
        </simpleExpression>
        <simpleExpression>
            <id>de0de099-5890-43be-8ac6-fdb40a3e0d53</id>
            <parentID>af374f41-3e11-443d-8287-ba4d8fa42ff6</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>12e4c7e8-a8c9-4059-bb7d-6564ea9c9311</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>ce538089-8967-4763-acae-56919d8f588b</id>
                        <expressionID>cfea2076-dba2-47a8-bf3d-a18839c688d0</expressionID>
                    </parameter>
                    <parameter>
                        <id>1f7339d0-3372-4aad-a09c-c1ab55741b2d</id>
                        <expressionID>0d792ad5-9feb-41cd-ac7c-2feae8204dbf</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>12e4c7e8-a8c9-4059-bb7d-6564ea9c9311</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>cfea2076-dba2-47a8-bf3d-a18839c688d0</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>e541bfcc-1acb-4261-84f4-8ec8a774a005</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>e541bfcc-1acb-4261-84f4-8ec8a774a005</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntry3.getCell(rowIndex,"invitePerson")</value>
        </simpleExpression>
        <simpleExpression>
            <id>0d792ad5-9feb-41cd-ac7c-2feae8204dbf</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>curDep.name</value>
        </simpleExpression>
        <groupExpression>
            <id>3c241447-948c-47ff-b308-a55b4a8977aa</id>
            <parentID />
            <source>projectNumber=proName.number</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>4bf66354-d766-40f2-8014-42303c146bd1</id>
            <parentID>3c241447-948c-47ff-b308-a55b4a8977aa</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>09408dfd-264a-4dda-a7fe-095bbaf7bd33</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>09408dfd-264a-4dda-a7fe-095bbaf7bd33</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtprojectNumber</value>
        </simpleExpression>
        <simpleExpression>
            <id>5079e8da-fae3-4522-8f26-d3cbcd74ea1f</id>
            <parentID>3c241447-948c-47ff-b308-a55b4a8977aa</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>f09cd277-748c-4c9b-a4b5-7ca7d1e377aa</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>73bc3c3f-d124-49b2-a6f3-6f7237a0163b</id>
                        <expressionID>2c6565bf-11f0-4a8a-8ef4-ae173667e550</expressionID>
                    </parameter>
                    <parameter>
                        <id>f9e161d4-0221-4774-babf-f534d3ad5509</id>
                        <expressionID>96140882-f62d-4710-aeac-12c692c66d1f</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>f09cd277-748c-4c9b-a4b5-7ca7d1e377aa</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>2c6565bf-11f0-4a8a-8ef4-ae173667e550</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>8bb51376-d821-4541-89f1-b4154b0a509e</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>8bb51376-d821-4541-89f1-b4154b0a509e</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtproName</value>
        </simpleExpression>
        <simpleExpression>
            <id>96140882-f62d-4710-aeac-12c692c66d1f</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>number</value>
        </simpleExpression>
        <groupExpression>
            <id>ea5d655c-2ae9-4826-b673-b83cfb469f84</id>
            <parentID />
            <source>projectNumber=proName.number</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>5090d4d8-ad60-4579-a48c-7e2718ddb851</id>
            <parentID>ea5d655c-2ae9-4826-b673-b83cfb469f84</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>83224e0d-abff-4c6f-ae5a-1a066f1928dd</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>83224e0d-abff-4c6f-ae5a-1a066f1928dd</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtprojectNumber</value>
        </simpleExpression>
        <simpleExpression>
            <id>0ecd081b-0ea2-4555-a37a-1b8530173d81</id>
            <parentID>ea5d655c-2ae9-4826-b673-b83cfb469f84</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>3b0e5086-fa7b-446a-9184-fba6b1231b1b</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>2fe0c103-66f5-452b-9d60-3c310eb13ac7</id>
                        <expressionID>df74ece6-c9d8-43ad-9d04-122943fe8da0</expressionID>
                    </parameter>
                    <parameter>
                        <id>e87c991a-1138-4d8d-8191-e4d7c1ddb3d9</id>
                        <expressionID>78662a9e-74e9-4d8c-a672-f555f42fc4c8</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>3b0e5086-fa7b-446a-9184-fba6b1231b1b</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>df74ece6-c9d8-43ad-9d04-122943fe8da0</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>a0bd14d1-1d27-46d9-bc85-eee4f55078ad</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>a0bd14d1-1d27-46d9-bc85-eee4f55078ad</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtproName</value>
        </simpleExpression>
        <simpleExpression>
            <id>78662a9e-74e9-4d8c-a672-f555f42fc4c8</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>number</value>
        </simpleExpression>
        <groupExpression>
            <id>c9aac7e0-7d3b-4eb8-97ee-c55efd130217</id>
            <parentID />
            <source>projectNumber=proName.number</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>883a753a-3637-479c-a212-1eb1234b9892</id>
            <parentID>c9aac7e0-7d3b-4eb8-97ee-c55efd130217</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>dcfc58b5-8c88-491b-90db-d04396b06899</ownerID>
                <name>text</name>
                <type>java.lang.String</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>dcfc58b5-8c88-491b-90db-d04396b06899</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>txtprojectNumber</value>
        </simpleExpression>
        <simpleExpression>
            <id>215cd785-55b6-437c-b309-5edeb8eabfc2</id>
            <parentID>c9aac7e0-7d3b-4eb8-97ee-c55efd130217</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>3ad969c0-1d15-4c18-a597-53aee1a959de</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>eb03ce6f-5edc-496f-9ce4-62bbb9487a0c</id>
                        <expressionID>10effaa0-8311-4a62-bda2-5aed6398c594</expressionID>
                    </parameter>
                    <parameter>
                        <id>87f9ae2d-cd67-4091-bbd3-fa4f78896785</id>
                        <expressionID>6f78537a-b390-4e58-a759-d8ba01f47265</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>3ad969c0-1d15-4c18-a597-53aee1a959de</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>10effaa0-8311-4a62-bda2-5aed6398c594</id>
            <parentID />
            <source />
            <type>METHODINVOKE</type>
            <valueType>Object</valueType>
            <value />
            <method>
                <ownerID>2a8e3272-e3d3-4155-a127-36b830ee42ef</ownerID>
                <name>getData</name>
                <type>Object</type>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>2a8e3272-e3d3-4155-a127-36b830ee42ef</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)prmtproName</value>
        </simpleExpression>
        <simpleExpression>
            <id>6f78537a-b390-4e58-a759-d8ba01f47265</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>number</value>
        </simpleExpression>
        <groupExpression>
            <id>b4f6d034-ef90-4986-a822-04fb73fb779f</id>
            <parentID />
            <source>E6.EvaluationType=E6.EvaluationName.evalType</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>b1259038-3482-433b-b8dc-cb7ebdf2b15d</id>
            <parentID>b4f6d034-ef90-4986-a822-04fb73fb779f</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>5c5e490c-7f5a-4431-b7c4-1c0195aa9fff</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>5c5e490c-7f5a-4431-b7c4-1c0195aa9fff</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtE6.getCell(rowIndex,"EvaluationType")</value>
        </simpleExpression>
        <simpleExpression>
            <id>04c64b29-0354-443a-8b90-76de9c411132</id>
            <parentID>b4f6d034-ef90-4986-a822-04fb73fb779f</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>27edcbcf-ee5e-4163-bb4e-1a87e36c8c0a</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>8e1bf457-9154-4fe9-9fc2-7b7d29e0bcfb</id>
                        <expressionID>ec21874a-ea54-4b4f-8d83-403a832b958e</expressionID>
                    </parameter>
                    <parameter>
                        <id>166657b4-1209-4601-8f59-6265622e7acb</id>
                        <expressionID>b93b41cc-3aeb-4a44-8f22-0c20bc82e867</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>27edcbcf-ee5e-4163-bb4e-1a87e36c8c0a</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>ec21874a-ea54-4b4f-8d83-403a832b958e</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>73541a95-d300-4e05-a033-5e21cf227446</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>73541a95-d300-4e05-a033-5e21cf227446</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtE6.getCell(rowIndex,"EvaluationName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>b93b41cc-3aeb-4a44-8f22-0c20bc82e867</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>evalType</value>
        </simpleExpression>
        <groupExpression>
            <id>d8fa769d-8fa9-47d2-b092-20835cfecdf8</id>
            <parentID />
            <source>Entry4.budgetName=Entry4.budgetNumber.feeName</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>7fc70de1-4926-412f-a648-f3fb7a6aa00a</id>
            <parentID>d8fa769d-8fa9-47d2-b092-20835cfecdf8</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>21268363-0c06-418a-b385-aa394715d891</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>21268363-0c06-418a-b385-aa394715d891</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntry4.getCell(rowIndex,"budgetName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>c341c2b0-ef93-4b5b-949d-7a07ff81aa66</id>
            <parentID>d8fa769d-8fa9-47d2-b092-20835cfecdf8</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>5ddd1967-9770-4080-a08d-54b48078933b</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>7c1b9d0a-c0b3-4d57-8753-6f3312683264</id>
                        <expressionID>2a2d75f2-671e-4839-b4da-5cf2422a2db9</expressionID>
                    </parameter>
                    <parameter>
                        <id>a169759a-b581-43c8-895c-9054d8daf2ac</id>
                        <expressionID>a33fb6aa-a244-433b-bc76-25f9a652a5a6</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>5ddd1967-9770-4080-a08d-54b48078933b</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>2a2d75f2-671e-4839-b4da-5cf2422a2db9</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>849da241-ea55-4e83-ad4c-d9bcfcdd7062</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>849da241-ea55-4e83-ad4c-d9bcfcdd7062</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntry4.getCell(rowIndex,"budgetNumber")</value>
        </simpleExpression>
        <simpleExpression>
            <id>a33fb6aa-a244-433b-bc76-25f9a652a5a6</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>feeName</value>
        </simpleExpression>
        <groupExpression>
            <id>6431f25c-b416-4c3f-85e5-a55e94b42e06</id>
            <parentID />
            <source>Entry4.budgetName=Entry4.budgetNumber.feeName</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>884d09d8-6d46-40ed-ab6a-a9766a3674fe</id>
            <parentID>6431f25c-b416-4c3f-85e5-a55e94b42e06</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>977f3668-5ec2-45f1-a4d9-e7c73199ced7</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>977f3668-5ec2-45f1-a4d9-e7c73199ced7</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntry4.getCell(rowIndex,"budgetName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>12a9860b-66b7-432b-a122-2bb942b1f80d</id>
            <parentID>6431f25c-b416-4c3f-85e5-a55e94b42e06</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>b40980b3-0bc8-4e9b-b735-2fe06fe9601d</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>e4687d58-8016-40ac-a2ce-e7a3b1d49f14</id>
                        <expressionID>9d4c560c-c6bf-4553-a895-ffab2a60b016</expressionID>
                    </parameter>
                    <parameter>
                        <id>d31ceb47-bd71-4ca4-b777-3967e205e7d5</id>
                        <expressionID>54d6d3c2-77c2-4281-95fa-0e55756748c6</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>b40980b3-0bc8-4e9b-b735-2fe06fe9601d</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>9d4c560c-c6bf-4553-a895-ffab2a60b016</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>d02c0e86-12b9-4df9-a9e0-0b01067197b5</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>d02c0e86-12b9-4df9-a9e0-0b01067197b5</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntry4.getCell(rowIndex,"budgetNumber")</value>
        </simpleExpression>
        <simpleExpression>
            <id>54d6d3c2-77c2-4281-95fa-0e55756748c6</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>feeName</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>f8b346e9-c787-43ed-9b0f-447da43e6bef</id>
            <name>Entry3_department_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[Entry3_department_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[Entry3_department_ActionInfo].description</description>
            <expressionID>cef46274-c4fc-4ec7-8cfd-af4ea076d509</expressionID>
        </action>
        <action>
            <id>6540095b-2a5e-455a-aff9-c23a85eeb735</id>
            <name>Entry3_department_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[Entry3_department_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[Entry3_department_ActionInfo].description</description>
            <expressionID>af374f41-3e11-443d-8287-ba4d8fa42ff6</expressionID>
        </action>
        <action>
            <id>d20a0b7d-c053-4100-85cc-09959e481714</id>
            <name>InviteReport_projectNumber_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[InviteReport_projectNumber_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[InviteReport_projectNumber_ActionInfo].description</description>
            <expressionID>3c241447-948c-47ff-b308-a55b4a8977aa</expressionID>
        </action>
        <action>
            <id>76cc1aae-2d3c-4b1f-b613-1049f3155f26</id>
            <name>InviteReport_projectNumber_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[InviteReport_projectNumber_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[InviteReport_projectNumber_ActionInfo].description</description>
            <expressionID>ea5d655c-2ae9-4826-b673-b83cfb469f84</expressionID>
        </action>
        <action>
            <id>c7c18ce7-5965-4783-af9b-e6ef7c955dea</id>
            <name>InviteReport_projectNumber_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[InviteReport_projectNumber_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[InviteReport_projectNumber_ActionInfo].description</description>
            <expressionID>c9aac7e0-7d3b-4eb8-97ee-c55efd130217</expressionID>
        </action>
        <action>
            <id>c508c970-11b3-44c5-ab33-c438f1269737</id>
            <name>E6_EvaluationType_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[E6_EvaluationType_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[E6_EvaluationType_ActionInfo].description</description>
            <expressionID>b4f6d034-ef90-4986-a822-04fb73fb779f</expressionID>
        </action>
        <action>
            <id>988e81a6-c88e-4a26-9d16-c3d7aad077a9</id>
            <name>Entry4_budgetName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[Entry4_budgetName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[Entry4_budgetName_ActionInfo].description</description>
            <expressionID>d8fa769d-8fa9-47d2-b092-20835cfecdf8</expressionID>
        </action>
        <action>
            <id>173f30fb-7338-4dc0-ace0-c210bab8d3b1</id>
            <name>Entry4_budgetName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[Entry4_budgetName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[Entry4_budgetName_ActionInfo].description</description>
            <expressionID>6431f25c-b416-4c3f-85e5-a55e94b42e06</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>Entry3_department_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[Entry3_department_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[Entry3_department_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="6540095b-2a5e-455a-aff9-c23a85eeb735" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>Entry4_budgetName_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[Entry4_budgetName_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[Entry4_budgetName_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="173f30fb-7338-4dc0-ace0-c210bab8d3b1" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>InviteReport_projectNumber_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[InviteReport_projectNumber_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[InviteReport_projectNumber_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="c7c18ce7-5965-4783-af9b-e6ef7c955dea" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>E6_EvaluationType_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[E6_EvaluationType_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[E6_EvaluationType_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="c508c970-11b3-44c5-ab33-c438f1269737" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[E6_EvaluationType_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_evalType" />
            <lang locale="zh_HK" value="攜帶字段屬性_evalType" />
            <lang locale="zh_TW" value="攜帶字段屬性_evalType" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[E6_EvaluationType_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[Entry3_department_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_curDep" />
            <lang locale="zh_HK" value="攜帶字段屬性_curDep" />
            <lang locale="zh_TW" value="攜帶字段屬性_curDep" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[Entry3_department_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[Entry4_budgetName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_feeName" />
            <lang locale="zh_HK" value="攜帶字段屬性_feeName" />
            <lang locale="zh_TW" value="攜帶字段屬性_feeName" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[Entry4_budgetName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[InviteReport_projectNumber_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_number" />
            <lang locale="zh_HK" value="攜帶字段屬性_number" />
            <lang locale="zh_TW" value="攜帶字段屬性_number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].actions.action[InviteReport_projectNumber_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[E6_EvaluationType_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_evalType" />
            <lang locale="zh_HK" value="攜帶字段屬性_evalType" />
            <lang locale="zh_TW" value="攜帶字段屬性_evalType" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[E6_EvaluationType_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[E6_EvaluationType_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="EvaluationName" />
            <lang locale="zh_CN" value="EvaluationName" />
            <lang locale="zh_TW" value="EvaluationName" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[E6_EvaluationType_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[Entry3_department_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_curDep" />
            <lang locale="zh_HK" value="攜帶字段屬性_curDep" />
            <lang locale="zh_TW" value="攜帶字段屬性_curDep" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[Entry3_department_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[Entry3_department_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="invitePerson" />
            <lang locale="zh_CN" value="invitePerson" />
            <lang locale="zh_TW" value="invitePerson" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[Entry3_department_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[Entry4_budgetName_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_feeName" />
            <lang locale="zh_HK" value="攜帶字段屬性_feeName" />
            <lang locale="zh_TW" value="攜帶字段屬性_feeName" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[Entry4_budgetName_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[Entry4_budgetName_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="budgetNumber" />
            <lang locale="zh_CN" value="budgetNumber" />
            <lang locale="zh_TW" value="budgetNumber" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[Entry4_budgetName_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[InviteReport_projectNumber_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_number" />
            <lang locale="zh_HK" value="攜帶字段屬性_number" />
            <lang locale="zh_TW" value="攜帶字段屬性_number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[InviteReport_projectNumber_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[InviteReport_projectNumber_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="proName" />
            <lang locale="zh_CN" value="proName" />
            <lang locale="zh_TW" value="proName" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invite.app.InviteReportRuleSet].rules.conditionRule[InviteReport_projectNumber_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
    </resource>
</ruleSet>

