<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.port.pm.invest.app</package>
    <name>CostTempRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>e3107029-8cac-4a1e-aedd-18014a260c18</id>
            <parentID />
            <source>E1.costName=E1.costType.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>3f8bafdf-6adc-4e07-99cd-3c578b0266a1</id>
            <parentID>e3107029-8cac-4a1e-aedd-18014a260c18</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>a211b3e0-3965-478f-86c2-72ea0604a962</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>a211b3e0-3965-478f-86c2-72ea0604a962</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtE1.getCell(rowIndex,"costName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>2bc5227a-c809-4bf9-940a-ce505d3f5256</id>
            <parentID>e3107029-8cac-4a1e-aedd-18014a260c18</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>fb443ba1-ff40-45b8-821f-633b9f325818</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>94a260f5-4f79-4811-a18a-79e00f88aae3</id>
                        <expressionID>47fb29bd-5572-4119-b2f0-ea75325a86e5</expressionID>
                    </parameter>
                    <parameter>
                        <id>33231100-9e09-4f21-82eb-c8b53ab42879</id>
                        <expressionID>daab0a7a-5963-4fef-b3eb-9b5f5c09c7fc</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>fb443ba1-ff40-45b8-821f-633b9f325818</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>47fb29bd-5572-4119-b2f0-ea75325a86e5</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>d001ca42-0a07-48d8-9be8-4029bd07277b</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>d001ca42-0a07-48d8-9be8-4029bd07277b</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtE1.getCell(rowIndex,"costType")</value>
        </simpleExpression>
        <simpleExpression>
            <id>daab0a7a-5963-4fef-b3eb-9b5f5c09c7fc</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>name</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>107205a6-fe39-4e7f-bedd-020f921da095</id>
            <name>E1_costName_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].actions.action[E1_costName_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].actions.action[E1_costName_ActionInfo].description</description>
            <expressionID>e3107029-8cac-4a1e-aedd-18014a260c18</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>E1_costName_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].rules.conditionRule[E1_costName_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].rules.conditionRule[E1_costName_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="107205a6-fe39-4e7f-bedd-020f921da095" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].actions.action[E1_costName_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].actions.action[E1_costName_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].rules.conditionRule[E1_costName_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_name" />
            <lang locale="zh_HK" value="攜帶字段屬性_name" />
            <lang locale="zh_TW" value="攜帶字段屬性_name" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].rules.conditionRule[E1_costName_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].rules.conditionRule[E1_costName_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="costType" />
            <lang locale="zh_CN" value="costType" />
            <lang locale="zh_TW" value="costType" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.CostTempRuleSet].rules.conditionRule[E1_costName_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
    </resource>
</ruleSet>

