<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.port.pm.invest.app</package>
    <name>PreProjectRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.port.pm.invest.app.PreProjectRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.port.pm.invest.app.PreProjectRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>c42fcc1a-111d-42c8-a364-e316b28c4931</id>
            <parentID />
            <source>E1.workReq=E1.preWorkContent.bizStatus</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>e5122f34-d61f-45cc-9091-d5602409447e</id>
            <parentID>c42fcc1a-111d-42c8-a364-e316b28c4931</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>f38de791-d07f-40f3-8272-b78a6902d819</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>f38de791-d07f-40f3-8272-b78a6902d819</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtE1.getCell(rowIndex,"workReq")</value>
        </simpleExpression>
        <simpleExpression>
            <id>0c7b5481-b7c4-4926-967c-5307f90341b1</id>
            <parentID>c42fcc1a-111d-42c8-a364-e316b28c4931</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>Enum</valueType>
            <value />
            <method>
                <ownerID>15181040-2d50-4840-977a-6a251d88c522</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>67c0aebd-0667-4358-bd73-e7e1ef89b538</id>
                        <expressionID>6bb94289-d208-4dec-aa25-8f4d4a36e68a</expressionID>
                    </parameter>
                    <parameter>
                        <id>c07b6c25-2f82-4118-9934-3ec3c1cbdfac</id>
                        <expressionID>d22fecb7-25c8-4bdd-9902-03222b623b64</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>15181040-2d50-4840-977a-6a251d88c522</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>6bb94289-d208-4dec-aa25-8f4d4a36e68a</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>a45b11d3-9240-48ea-8f26-d16b9355de99</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>a45b11d3-9240-48ea-8f26-d16b9355de99</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtE1.getCell(rowIndex,"preWorkContent")</value>
        </simpleExpression>
        <simpleExpression>
            <id>d22fecb7-25c8-4bdd-9902-03222b623b64</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>bizStatus</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>0c8337ff-812d-40cf-b5fb-ee581bdeed6d</id>
            <name>E1_workReq_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invest.app.PreProjectRuleSet].actions.action[E1_workReq_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invest.app.PreProjectRuleSet].actions.action[E1_workReq_ActionInfo].description</description>
            <expressionID>c42fcc1a-111d-42c8-a364-e316b28c4931</expressionID>
        </action>
    </actions>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.PreProjectRuleSet].actions.action[E1_workReq_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_bizStatus" />
            <lang locale="zh_HK" value="攜帶字段屬性_bizStatus" />
            <lang locale="zh_TW" value="攜帶字段屬性_bizStatus" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.PreProjectRuleSet].actions.action[E1_workReq_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.PreProjectRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.PreProjectRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
    </resource>
</ruleSet>

