<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.port.pm.invest.app</package>
    <name>YearInvestPlanRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].description</description>
    <userDefined>true</userDefined>
    <conditions>
        <baseCondition>
            <id>b33f46ad-cec8-4f4c-8250-cdfc2a67ac86</id>
            <name>C7LZ8YET</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].conditions.baseCondition[C7LZ8YET].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].conditions.baseCondition[C7LZ8YET].description</description>
            <expressionID />
        </baseCondition>
    </conditions>
    <rules>
        <conditionRule>
            <name>C7LZ8YES</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].rules.conditionRule[C7LZ8YES].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].rules.conditionRule[C7LZ8YES].description</description>
            <ruleType>calculate</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <condition>
                <key name="id" value="b33f46ad-cec8-4f4c-8250-cdfc2a67ac86" />
            </condition>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].conditions.baseCondition[C7LZ8YET].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].conditions.baseCondition[C7LZ8YET].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].rules.conditionRule[C7LZ8YES].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="CalculateEvent0001" />
            <lang locale="zh_HK" value="CalculateEvent0001" />
            <lang locale="zh_TW" value="CalculateEvent0001" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].rules.conditionRule[C7LZ8YES].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.invest.app.YearInvestPlanRuleSet].rules.conditionRule[C7LZ8YES].extendedProperty.columnName">
            <lang locale="en_US" value="requestPerson" />
            <lang locale="zh_CN" value="requestPerson" />
            <lang locale="zh_TW" value="requestPerson" />
        </rs>
    </resource>
</ruleSet>

