<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.port.pm.base.app</package>
    <name>SupEvaluateTemplateRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>8d80d347-dc01-472b-aaa1-a03614b1b61a</id>
            <parentID />
            <source>Entry.dimension=Entry.supEvaIndicator.pswd.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>cffa5264-3e97-4343-b4dc-31aa29ace378</id>
            <parentID>8d80d347-dc01-472b-aaa1-a03614b1b61a</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>1c264aec-3b4d-4f6a-b178-05036876451f</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>1c264aec-3b4d-4f6a-b178-05036876451f</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntry.getCell(rowIndex,"dimension")</value>
        </simpleExpression>
        <simpleExpression>
            <id>ac2a5587-dfea-4852-9e4a-5dc076447471</id>
            <parentID>8d80d347-dc01-472b-aaa1-a03614b1b61a</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>00e2feba-87c6-4933-8cd5-5bafd140c7c9</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>c99b1c8c-fd4c-41bc-8b63-20c48c2ab9e2</id>
                        <expressionID>547ef675-a2a3-45f6-b466-e230fc954231</expressionID>
                    </parameter>
                    <parameter>
                        <id>cafef06f-fc35-4d76-a278-6b0e17c18a66</id>
                        <expressionID>b8c59880-011f-4e8c-b232-68b01af827e2</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>00e2feba-87c6-4933-8cd5-5bafd140c7c9</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>547ef675-a2a3-45f6-b466-e230fc954231</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>bca9e551-919e-4502-a8fe-f115a14981d2</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>bca9e551-919e-4502-a8fe-f115a14981d2</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntry.getCell(rowIndex,"supEvaIndicator")</value>
        </simpleExpression>
        <simpleExpression>
            <id>b8c59880-011f-4e8c-b232-68b01af827e2</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>pswd.name</value>
        </simpleExpression>
        <groupExpression>
            <id>24c7986a-07dc-4450-af93-d464f7e6d995</id>
            <parentID />
            <source>Entry.standard=Entry.supEvaIndicator.standard</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>c2c6d009-170f-42ea-a717-9380f9539245</id>
            <parentID>24c7986a-07dc-4450-af93-d464f7e6d995</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>4a2cc456-e5f1-44fa-82c9-3e97181c814e</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>4a2cc456-e5f1-44fa-82c9-3e97181c814e</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEntry.getCell(rowIndex,"standard")</value>
        </simpleExpression>
        <simpleExpression>
            <id>a4fc5b8e-c035-4bd1-b9f5-2192cc9fcebf</id>
            <parentID>24c7986a-07dc-4450-af93-d464f7e6d995</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>b084a8cf-5548-4c8c-a0b5-6d057d39fc05</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>14eb0a49-de3c-4efd-a94d-dd98883ff562</id>
                        <expressionID>d2b604c0-f6b2-4681-b824-2183f446e196</expressionID>
                    </parameter>
                    <parameter>
                        <id>66da6dfb-eff8-4405-972a-4769e4b8bc5e</id>
                        <expressionID>274aa47e-a93e-44a0-849a-8b0bf65be917</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>b084a8cf-5548-4c8c-a0b5-6d057d39fc05</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>d2b604c0-f6b2-4681-b824-2183f446e196</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>42c7046f-e252-4525-9c71-d59af0124224</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>42c7046f-e252-4525-9c71-d59af0124224</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEntry.getCell(rowIndex,"supEvaIndicator")</value>
        </simpleExpression>
        <simpleExpression>
            <id>274aa47e-a93e-44a0-849a-8b0bf65be917</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>standard</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>886a9404-9038-4509-be22-61800126e9d3</id>
            <name>Entry_dimension_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].actions.action[Entry_dimension_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].actions.action[Entry_dimension_ActionInfo].description</description>
            <expressionID>8d80d347-dc01-472b-aaa1-a03614b1b61a</expressionID>
        </action>
        <action>
            <id>aab50cc4-4de0-4b98-8c94-e6ece7564c1f</id>
            <name>Entry_standard_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].actions.action[Entry_standard_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].actions.action[Entry_standard_ActionInfo].description</description>
            <expressionID>24c7986a-07dc-4450-af93-d464f7e6d995</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>Entry_dimension_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].rules.conditionRule[Entry_dimension_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].rules.conditionRule[Entry_dimension_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="886a9404-9038-4509-be22-61800126e9d3" />
                </action>
            </actions>
        </conditionRule>
        <conditionRule>
            <name>Entry_standard_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].rules.conditionRule[Entry_standard_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].rules.conditionRule[Entry_standard_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="aab50cc4-4de0-4b98-8c94-e6ece7564c1f" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].actions.action[Entry_dimension_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_pswd" />
            <lang locale="zh_HK" value="攜帶字段屬性_pswd" />
            <lang locale="zh_TW" value="攜帶字段屬性_pswd" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].actions.action[Entry_dimension_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].actions.action[Entry_standard_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_standard" />
            <lang locale="zh_HK" value="攜帶字段屬性_standard" />
            <lang locale="zh_TW" value="攜帶字段屬性_standard" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].actions.action[Entry_standard_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].rules.conditionRule[Entry_dimension_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_pswd" />
            <lang locale="zh_HK" value="攜帶字段屬性_pswd" />
            <lang locale="zh_TW" value="攜帶字段屬性_pswd" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].rules.conditionRule[Entry_dimension_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].rules.conditionRule[Entry_dimension_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="supEvaIndicator" />
            <lang locale="zh_CN" value="supEvaIndicator" />
            <lang locale="zh_TW" value="supEvaIndicator" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].rules.conditionRule[Entry_dimension_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].rules.conditionRule[Entry_standard_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_standard" />
            <lang locale="zh_HK" value="攜帶字段屬性_standard" />
            <lang locale="zh_TW" value="攜帶字段屬性_standard" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].rules.conditionRule[Entry_standard_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].rules.conditionRule[Entry_standard_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="supEvaIndicator" />
            <lang locale="zh_CN" value="supEvaIndicator" />
            <lang locale="zh_TW" value="supEvaIndicator" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.pm.base.app.SupEvaluateTemplateRuleSet].rules.conditionRule[Entry_standard_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
    </resource>
</ruleSet>

