<?xml version="1.0" encoding="UTF-8"?>
<ruleSet xmlns="com.kingdee.bos.metadata">
    <package>com.kingdee.eas.port.equipment.operate.app</package>
    <name>EumUseRecordRuleSet</name>
    <alias>ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].alias</alias>
    <description>ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].description</description>
    <userDefined>true</userDefined>
    <expressions>
        <groupExpression>
            <id>bd5bbfe7-d26c-4325-9888-ed7c39634350</id>
            <parentID />
            <source>EqmUse.eqmCategory=EqmUse.eqmType.treeid.name</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>e6b5d8bd-18fd-457f-af2a-be564cfc9e34</id>
            <parentID>bd5bbfe7-d26c-4325-9888-ed7c39634350</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>bd5b1da8-7e46-4a6e-bb77-8960c6713bc1</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>bd5b1da8-7e46-4a6e-bb77-8960c6713bc1</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEqmUse.getCell(rowIndex,"eqmCategory")</value>
        </simpleExpression>
        <simpleExpression>
            <id>b73d72c4-da9a-4813-bcd1-88005a6deb15</id>
            <parentID>bd5bbfe7-d26c-4325-9888-ed7c39634350</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>017735fc-0387-4d95-8bc2-fe42dbbe1d12</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>1fc6d2f5-470a-4272-9c75-375f2ea4bf60</id>
                        <expressionID>ae3c20f6-5929-445e-b09a-dd0717da02da</expressionID>
                    </parameter>
                    <parameter>
                        <id>027d9f1d-7ee8-44df-9975-2a9211bcb8b8</id>
                        <expressionID>d984d377-4587-4e2b-b60f-3af9926ce811</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>017735fc-0387-4d95-8bc2-fe42dbbe1d12</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>ae3c20f6-5929-445e-b09a-dd0717da02da</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>62f33061-7440-4a38-adbd-1bc0e31c4037</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>62f33061-7440-4a38-adbd-1bc0e31c4037</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEqmUse.getCell(rowIndex,"eqmType")</value>
        </simpleExpression>
        <simpleExpression>
            <id>d984d377-4587-4e2b-b60f-3af9926ce811</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>treeid.name</value>
        </simpleExpression>
        <groupExpression>
            <id>db2371c4-63a1-4648-8f60-c70b44572be2</id>
            <parentID />
            <source>EqmUse.eqmNumber=EqmUse.eqmName.number</source>
            <operator>=</operator>
        </groupExpression>
        <simpleExpression>
            <id>c0e0bdc8-f696-40a4-9e16-1827c486a5b1</id>
            <parentID>db2371c4-63a1-4648-8f60-c70b44572be2</parentID>
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>String</valueType>
            <value />
            <property>
                <ownerID>90b660c3-b2ca-4106-94bf-5dbf738e99ec</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>90b660c3-b2ca-4106-94bf-5dbf738e99ec</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>kdtEqmUse.getCell(rowIndex,"eqmNumber")</value>
        </simpleExpression>
        <simpleExpression>
            <id>a0ce0c56-bbbc-4078-ad6c-30e7bb48cdbf</id>
            <parentID>db2371c4-63a1-4648-8f60-c70b44572be2</parentID>
            <source />
            <type>METHODINVOKE</type>
            <valueType>String</valueType>
            <value />
            <method>
                <ownerID>3274116d-8847-4c54-9a04-476440ecd000</ownerID>
                <name>getProperty</name>
                <type>Object</type>
                <parameters>
                    <parameter>
                        <id>6fbf4819-1fdb-4f0f-975b-6c83b0f9b739</id>
                        <expressionID>d804d6b6-5650-4afa-a584-e283e088daee</expressionID>
                    </parameter>
                    <parameter>
                        <id>f26a032f-d1d4-4aa0-8f3c-14d21345f309</id>
                        <expressionID>e31b116d-4118-4cc9-988b-ed4cbbc26036</expressionID>
                    </parameter>
                </parameters>
            </method>
        </simpleExpression>
        <simpleExpression>
            <id>3274116d-8847-4c54-9a04-476440ecd000</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>com.kingdee.bos.ui.face.UIRuleUtil</value>
        </simpleExpression>
        <simpleExpression>
            <id>d804d6b6-5650-4afa-a584-e283e088daee</id>
            <parentID />
            <source />
            <type>PROPERTYACCESS</type>
            <valueType>Object</valueType>
            <value />
            <property>
                <ownerID>83c55319-0fa3-41dd-b84d-20988f745b89</ownerID>
                <name>value</name>
                <type>Object</type>
            </property>
        </simpleExpression>
        <simpleExpression>
            <id>83c55319-0fa3-41dd-b84d-20988f745b89</id>
            <parentID />
            <source />
            <type>VARIANT</type>
            <valueType>UNKOWN</valueType>
            <value>(com.kingdee.bos.dao.IObjectValue)kdtEqmUse.getCell(rowIndex,"eqmName")</value>
        </simpleExpression>
        <simpleExpression>
            <id>e31b116d-4118-4cc9-988b-ed4cbbc26036</id>
            <parentID />
            <source />
            <type>CONST</type>
            <valueType>String</valueType>
            <value>number</value>
        </simpleExpression>
    </expressions>
    <actions>
        <action>
            <id>594e61a1-a4ec-4140-9fb4-cb7b4a7df504</id>
            <name>EqmUse_eqmCategory_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].actions.action[EqmUse_eqmCategory_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].actions.action[EqmUse_eqmCategory_ActionInfo].description</description>
            <expressionID>bd5bbfe7-d26c-4325-9888-ed7c39634350</expressionID>
        </action>
        <action>
            <id>a3a27656-3c50-4e45-a575-ca218057f55f</id>
            <name>EqmUse_eqmNumber_ActionInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].actions.action[EqmUse_eqmNumber_ActionInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].actions.action[EqmUse_eqmNumber_ActionInfo].description</description>
            <expressionID>db2371c4-63a1-4648-8f60-c70b44572be2</expressionID>
        </action>
    </actions>
    <rules>
        <conditionRule>
            <name>EqmUse_eqmNumber_RuleInfo</name>
            <alias>ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].rules.conditionRule[EqmUse_eqmNumber_RuleInfo].alias</alias>
            <description>ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].rules.conditionRule[EqmUse_eqmNumber_RuleInfo].description</description>
            <ruleType>withproperty</ruleType>
            <eventObjectName />
            <eventType>CHANGE</eventType>
            <eventName>CHANGE</eventName>
            <actions>
                <action>
                    <key name="id" value="a3a27656-3c50-4e45-a575-ca218057f55f" />
                </action>
            </actions>
        </conditionRule>
    </rules>
    <resource>
        <rs key="ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].actions.action[EqmUse_eqmCategory_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_treeid" />
            <lang locale="zh_HK" value="攜帶字段屬性_treeid" />
            <lang locale="zh_TW" value="攜帶字段屬性_treeid" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].actions.action[EqmUse_eqmCategory_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].actions.action[EqmUse_eqmNumber_ActionInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_number" />
            <lang locale="zh_HK" value="攜帶字段屬性_number" />
            <lang locale="zh_TW" value="攜帶字段屬性_number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].actions.action[EqmUse_eqmNumber_ActionInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].rules.conditionRule[EqmUse_eqmNumber_RuleInfo].alias">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="携带字段属性_number" />
            <lang locale="zh_HK" value="攜帶字段屬性_number" />
            <lang locale="zh_TW" value="攜帶字段屬性_number" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].rules.conditionRule[EqmUse_eqmNumber_RuleInfo].description">
            <lang locale="en_US" value="null" />
            <lang locale="zh_CN" value="null" />
            <lang locale="zh_HK" value="null" />
            <lang locale="zh_TW" value="null" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].rules.conditionRule[EqmUse_eqmNumber_RuleInfo].extendedProperty.columnName">
            <lang locale="en_US" value="eqmName" />
            <lang locale="zh_CN" value="eqmName" />
            <lang locale="zh_TW" value="eqmName" />
        </rs>
        <rs key="ruleSet[com.kingdee.eas.port.equipment.operate.app.EumUseRecordRuleSet].rules.conditionRule[EqmUse_eqmNumber_RuleInfo].extendedProperty.userDefined">
            <lang locale="en_US" value="false" />
            <lang locale="zh_CN" value="false" />
            <lang locale="zh_TW" value="false" />
        </rs>
    </resource>
</ruleSet>

