body { 
    font-family: "宋体"; 
    font-size: 9pt; color: #000000; 
    margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;margin-top: 0px; 
/*滚动条样式*/
	SCROLLBAR-HIGHLIGHT-COLOR: #F5F9FF; 
	SCROLLBAR-SHADOW-COLOR: #828282; 
	SCROLLBAR-3DLIGHT-COLOR: #828282; 
	SCROLLBAR-ARROW-COLOR: #797979; 
	SCROLLBAR-TRACK-COLOR: #ECECEC; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff}
	
a.:link { color: #395996; text-decoration: underline} 
a.:visited { color: #395996; text-decoration: underline} 
a.:hover { color: #395996; text-decoration: underline} 
a.:active { color: #000000; text-decoration: none}	

a.txt_white:link { color: #ffffff; text-decoration: none} 
a.txt_white:visited { color: #ffffff; text-decoration: none} 
a.txt_white:hover { color: #ffffff; text-decoration: underline} 
a.txt_white:active { color: #ffffff; text-decoration: underline}

/*大号字体*/
.bigtext 
    {
	FONT-SIZE:14px; 
	FONT-FAMILY:  "Times";
	line-height: 150%; 
     } 
.bigtext2
    {
	FONT-SIZE:16px; 
	FONT-FAMILY:  "Arial";
	line-height: 150%; 
     } 

.bigtext3
    {
	FONT-SIZE:24px;
	/*FONT-FAMILY:  "楷体_GB2312";*/
	line-height: 150%;
	color: 3C699F;

     } 
	 
/*普通表格内文字样式*/ 
table { 
    font-family: "Arial"; 
	font-size: 12px; 
	line-height: 150%; 
	color: #535353
	 }

/*表格边筐*/

TABLE.Mtable1{
    BORDER-left: #B8BEC4 0px solid; 
	BORDER-right: #B8BEC4 1px solid;
	BORDER-top: #B8BEC4 1px solid;
	BORDER-bottom: #B8BEC4 1px solid;
  }
  
/*表格td边筐*/  
 .td1{
    BORDER-left: #D8DEEA 0px solid; 
	BORDER-right: #D8DEEA 0px solid;
	BORDER-top: #D8DEEA 0px solid;
	BORDER-bottom: #D8DEEA 1px solid;
  }

	 
/*下拉表单样式*/ 
.list {
	FONT-SIZE: 12px; COLOR: #ffffff; 
	FONT-FAMILY:  "宋体"; 
	BACKGROUND-COLOR: #6D90BC
     } 

/*输入筐带底线*/ 
.textboxLINE_1
    {
     BACKGROUND-COLOR:F3F6F7; 
	 BORDER-BOTTOM: #b4b4b4 1px double; 
     BORDER-LEFT: #b4b4b4 0px double; 
	 BORDER-RIGHT: #b4b4b4 0px double; 
	 BORDER-TOP: #b4b4b4 0px double
	 }
/*输入筐边筐*/ 
.textbox
    {
     BACKGROUND-COLOR:ffffff; 
	 BORDER: #969791 1px double
	 }

/*按钮样式*/  
.bbutton {
            BORDER: #87A3C1 1px solid; 
			background-color: #DDF0FF;
			PADDING-RIGHT: 12px; 
			PADDING-LEFT: 12px; 
			FONT-SIZE: 12px;
			height:20px; 
			line-height:20px; 
			FILTER: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, 
            StartColorStr=#ffffff, EndColorStr=#C4E6FF); 
			CURSOR: hand; 
			COLOR: black           
            } 
